/* Définition des variables CSS pour les polices sur l'élément racine */
:root {
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Police de base pour le body */
body {
    font-family: var(--font-family-base);
}

/* Police pour tous les titres h1 à h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}
